<!DOCTYPE html>
<html ng-app="gameOfLife">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Game of life</title>
    <link rel="stylesheet" type="text/css" href="app.css">

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>


    <script src="app.js"></script>
    <script src="others.js"></script>
  </head>

  <body ng-controller="GameController as game">

    <nav class="cyan darken-1" style="margin-bottom:40px;">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo nav-title">Tic-Tac-Toe!</a>

      </div>
    </nav>

    <div class="card darken-1" style="margin:0 auto;width:40%;min-width:360px;">
      <div class="card-content ">
        <span class="card-title"></span>


        <div id="board-container">
          <div class="cell" ng-repeat="cell in game.board track by $index" ng-class="{'cell-o': cell === 0, 'cell-x': cell === 1}" ng-click="game.humanSelectCell($index, 1)" data-idx="{{$index}}">
          </div>
        </div>


      </div>
      <div class="card-action" style="margin-top:30px;">
        <div class="row">

          <div class="col s4 valign center stats">
            <span class="cyan-text darken-5">Computer<div class="score-item blue-grey-text">{{game.wins[0]}}</div></span>
          </div>
          <div class="col s4 valign center stats">
            <span class="cyan-text darken-5">User<div class="score-item blue-grey-text">{{game.wins[1]}}</div></span>
          </div>
          <div class="col s4 valign center stats">
            <span class="cyan-text darken-5">Draws<div class="score-item blue-grey-text">{{game.wins[2]}}</div></span>
          </div>
        </div>
      </div>
    </div>

    <div id="restart" ng-click="game.restart()"></div>

  </body>
</html>
